/* =================
  == FRANKENGRID ==
  =================


@import "fg-mixins-and-vars"

/* fluid layout served as default.
/* since ie6 does not recognize media queries, this is also a lame fallback (in case there is not even JS present to add media css3-mediaqueries): the layout is lost, but the content is displayed in a readable way

/* MARGINS, PADDINGS:



.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol
  margin: 0 0 0 0


.container
  width: 100%

.row
  padding: 5%
  /* instead setting the mobile base body to 90%.

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol
  // position: static
  float: none
  clear: both
  overflow: hidden
  width: 100%


img, object, embed
  max-width: 100%
  width: 100%


img
  height: auto

/* the grid
/* the whole grid conists of 69 ems width
/* twelve columns at 3em each and 11 gutters with 3em each

@media only screen and (min-width: 800px)


  /* helper classes to show/hide
  .grid
    display: block
  .fluid
    display: none

  /* container: whole width to work with different backgrounds/colors/etc.
  .container
  /* this is the part where you put your twelve columns in
  .row
    width: $unit * 23
    // change above to $units etc
    overflow: hidden
    margin: 0 auto 0 auto
    overflow: auto
    padding: 0


  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol
    margin: 0 $unit 0 0
    position: relative
    float: left
    /* for RTL change float to 'right' */
    clear: none

  .twelvecol
    margin: 0 0 0 0

  // this class removes the right margin, so they fit onto the .row
  .last
    margin-right: 0



  .onecol
    width: $unit
  .twocol
    width: $unit * 3
  .threecol
    width: $unit * 5
  .fourcol
    width: $unit * 7
  .fivecol
    width: $unit * 9
  .sixcol
    width: $unit * 11
  .sevencol
    width: $unit * 13
  .eightcol
    width: $unit * 15
  .ninecol
    width: $unit * 17
  .tencol 
    width: $unit * 19
  .elevencol
    width: $unit * 21
  .twelvecol
    width: $unit * 23

  img, object, embed
    max-width: 100%
    width: 100%

  img
    height: auto

@media handheld, only screen and (min-width: 800px)
  html
    font-size: 0.8em

@media handheld, only screen and (min-width: 950px)
  html
    font-size: 0.65em

@media handheld, only screen and (min-width: 1050px)
  html
    font-size: 0.7
em
@media handheld, only screen and (min-width: 1150px)
  html
    font-size: 0.77em

@media handheld, only screen and (min-width: 1250px)
  html
    font-size: 0.83em

@media handheld, only screen and (min-width: 1350px)
  html
    font-size: 0.95em

@media handheld, only screen and (min-width: 1500px)
  html
    font-size: 1em

@media handheld, only screen and (min-width: 1600px)
  html
    font-size: 1.1em