
- page_title = 'welcome to the frankengrid, program!'

!!!5
%html
  %head
    %title
      = page_title
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %link{ :rel => "stylesheet", :href => "frankengrid.css"}
    %link{ :rel => "stylesheet", :href => "styles.css"}

    %meta{ :charset => "UTF-8" }
      

  %body
    hello world