
- page_title = 'The Frankengrid – leaving pixels behind for good.'

!!!5
%html
  %head
    %title
      = page_title
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %link{ :rel => "stylesheet", :href => "frankengrid.css"}
    %link{ :rel => "stylesheet", :href => "styles.css"}

    %meta{ :charset => "UTF-8" }
      

  %body
    .container
      .row
        .fourcol
          %p Leaving pixels behing for good:
        .eightcol.last
          %h1 The Frankengrid<br>zweite Zeile
        .twelvecol
          .fourcol
            %h5 Responsive twelve-column grid.<br>zweite Zeile
            %p
              Resize this window!
            %p 
              Fluid-mode for mobile.
            %p 
              Markup is backward-compatible to the 1140 grid:
              %a{ :href => "1140index.html" } 
                see the 1140 rendered with the frankengrid
          .fourcol
            %h5
              Fully 
              %code 
                em
              \-based<br>zweite Zeile
            
            %p
              Allows css-based zooming for different screen-resolutions while keeping layout.
            %p 
              Allows nesting!
            %p
              Allows to work with a responsive (!) baseline-grid.
          .fourcol.last
            %h5 Mobile first.<br>zweite Zeile
            CSS for mobile resources is delivered first to save bandwidth and requests. Resources for other resolutions are loaded via media-queries.

    .container
      .row
        %h3 Nesting<br>zweite Zeile
        .twelvecol
          hello world (this is a 
          %code .twelvecol
          div)
      .row
        .eightcol
          .fourcol 
            %code .fourcol
            01 (inside 
            %code .eightcol
            )
          .fourcol.last
            %code .fourcol
            02 (inside 
            %code .eightcol
            ) (also needs last)
        .fourcol.last
          %code .fourcol
          03 (next to 
          %code .eightcol
          ) (also needs last)

      .row
        .twelvecol
          %p
            This nesting of columns within columns is not possible with the 1140 due to its percentage-based columns.
          %p
            %p That's the reason the Frankengrid exists.

            %p
              Feedback is very welcome on
              %a{ :href => 'https://github.com/filtercake/frankengrid'}
                github.

      .row
        .twelvecol
          %h1 headline<br>line2




