
@import "partials/fg-mixins-and-vars"

html

body
  margin-top: $unit * 1
  font-family: helvetica
  //font-size: 1rem
  line-height: $baseline

.row
  margin-top: $unit * 1

div
  outline: 1px dotted red
  //margin-top: $unit

/* typo
h1, h2
  font-size: 2.62rem
  line-height: 3rem
h3, h4
  font-size: 1.62rem
  line-height: 2rem
h5, h6
  font-size: 1rem
  //line-height: 1rem

h1, h3, h5
  font-weight: bold
h2, h4, h6
  font-weight: normal

h1, h2
  margin-bottom: 2rem
h3, h4, h5, h6
  margin-bottom: 1rem

p
  margin-bottom: $baseline /2
  // padding: $unit


.padded
a

em
  font-style: italic

blockquote
  padding: $baseline / 2
  outline: 1px dotted black

code
pre


img