
@import "partials/fg-mixins-and-vars"

html
  font-family: helvetica
  font-size: 1em

div
  outline: 1px dotted red
  margin-top: $unit
p
  margin-top: $unit
  // padding: $unit

/* typo
h1, h2
  font-size: $baseline * 2.62
h3, h4
  font-size: $baseline * 1.62
h5, h6
  font-size: $baseline

h1, h3, h5
  font-weight: bold
h2, h4, h6
  font-weight: normal

p
  margin-top: $unit
  // padding: $unit