body {
  margin-top: 3em;
  font-family: helvetica;
  line-height: 1.5; }

.row {
  margin-top: 3em; }

/* typo */
h1, h2 {
  font-size: 3.93em; }

h3, h4 {
  font-size: 2.43em; }

h5, h6 {
  font-size: 1.5em; }

h1, h3, h5 {
  font-weight: bold; }

h2, h4, h6 {
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.75em; }

p {
  margin-bottom: 0.75em; }
